<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pinball High Score - Competition</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <%- include('navigator') -%>
    <hr>
    <form class="input-group flex-nowrap" method="post">
        <select class="form-select" id="machineselect" name="machineselect" required>
          <% machines.forEach(function(machine){ %>
            <% if ( selectedmachine !== false && selectedmachine.name === machine.name) { %>
                <option value="<%= machine._id %>" selected><%= machine.name %></option>
            <%} else { %>
                <option value="<%= machine._id %>" ><%= machine.name %></option>
            <% } %>
        <% }); %>
        </select>
        <select class="form-select" id="scoreselect" name="scoreselect" required>
          <option selected>Score Type</option>
          <option value="machinescore">Machine Score</option>
          <option value="tournamentscore">Points</option>
        </select>
        <input type="submit" class="btn btn-outline-primary" value="Get Data" />
      </form>
      <br>
      <% if (typeof machine !== 'undefined') { %>
        <h3><%= machine %></h3>
      <% } %>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <td><b>Name</b></td>
                <td><b>Score </b></td>
                <td><b>Modify </b></td>
            </tr>
            </thead>
            <% if (typeof newscores !== 'undefined') { %>
                <% newscores.forEach(function(newscore){ %>
                    <tr>
                        <td>
                            <%= newscore.name %>
                        </td>
                        <td>
                            <%= newscore.score %>
                        </td>
                        <td>
                            <span>
                                <button type="button" class="btn btn-outline-warning"><a href="scores/edit/<%= newscore.score_id %>" class="text-decoration-none">Edit</a></button>
                            </span>
                            <span>
                                <button type="button" class="btn btn-outline-danger"><a href="scores/delete/<%= newscore.score_id %>" class="text-decoration-none">Delete</a></button>
                            </span>
                        </td>
                    </tr>
                <% }); %>
            <% } %>
        </table>
    </div>
</body>
</html>